---
interface Props {
  apiKey: string;
  query: string;
}

const { apiKey, query } = Astro.props;
---

<div style="text-decoration:none; overflow:hidden;max-width:100%;width:500px;height:250px;">
  <div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;">
    <iframe
      style="height:100%;width:100%;border:0;"
      loading="lazy"
      title="Google Maps location"
      src={`https://www.google.com/maps/embed/v1/place?q=${encodeURIComponent(query)}&key=${apiKey}`}></iframe>
  </div>
</div>

<style>
  #embedded-map-canvas img {
    max-height: none;
    max-width: none !important;
    background: none !important;
  }
</style>
