---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';

import Hero from '~/components/widgets/Hero.astro';
import Treatments from '~/components/widgets/Treatments.astro';
import Concerns from '~/components/widgets/Concerns.astro';
import Process from '~/components/widgets/Process.astro';
// import ImageHotspot from '~/components/widgets/ImageHotspot.astro';
// import TreatmentAreas from '~/components/widgets/TreatmentAreas.astro';
import Content from '~/components/widgets/Content.astro';
import FAQ from '~/components/widgets/FAQ.astro';

const metadata = {
  title: 'Skin Clinic Gold Coast | LIFTD Skin',
  ignoreTitleTemplate: true,
};

const animatedWords = ['Beauty', 'Smoothness', 'Tightness', 'Vitality', 'Glow'];
const totalDuration = 15; // Total animation duration in seconds
const wordDuration = totalDuration / animatedWords.length;
---

<style>
  .animated-word {
    display: inline-block;
    opacity: 0;
    transform: translateY(55px);
    animation: fadeInUp2 var(--total-duration) infinite;
    will-change: transform, opacity;
  }

  @keyframes fadeInUp2 {
    0%,
    25% {
      opacity: 0;
      transform: translateY(80px);
    }
    5%,
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    25%,
    100% {
      opacity: 0;
      transform: translateY(-80px);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .animated-word {
      animation: none;
      opacity: 1;
      transform: none;
    }
  }
</style>

<script>
  import Lenis from 'lenis';
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const lenis = new Lenis({
    duration: 1.2,
    easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
  });

  function raf(time) {
    lenis.raf(time);
    ScrollTrigger.update();
    requestAnimationFrame(raf);
  }

  //get scroll value
  // lenis.on('scroll', ({ scroll }) => {
  //   //console.log(scroll);
  // });

  requestAnimationFrame(raf);

  const tl_hero = gsap.timeline({
    scrollTrigger: {
      trigger: '.hero-section',
      start: 'top top',
      end: 'bottom top',
      scrub: 0,
      markers: false,
    },
  });

  tl_hero.to('.hero-image', { y: 333, ease: 'none' }, 0);
</script>

<Layout metadata={metadata}>
  <Hero
    class="hero-section md:h-screen"
    actions={[
      {
        text: 'Book Your Free Consultation',
        variant: 'fill',
        type: 'button',
        onclick: 'openCalendly()',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 size-full bg-black opacity-50"></div>
      <Image
        class="relative size-full z-[-1] hero-image"
        objectPosition="60% 10%"
        aspectRatio="auto"
        loading="eager"
        src={'~/assets/images/looking_at_ocean.jpg'}
        alt="Hero Image"
      />
    </Fragment>
    <Fragment slot="title">
      Reclaim Your Skin's
      <span class="relative inline-block text-accent brightness-105 w-80" style={`--total-duration: ${totalDuration}s`}>
        &#160;<span class="sr-only">{animatedWords.join('/')}</span>
        {
          animatedWords.map((word, index) => (
            <span
              class="animated-word absolute left-0"
              aria-hidden="true"
              style={`animation-delay: ${index * wordDuration}s`}
            >
              {word}
            </span>
          ))
        }
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      Personalised skin treatments for <span class="underline">proven</span>, <span class="underline">pain-free</span> results.
    </Fragment>
  </Hero>

  <div class="relative">
    <div class="absolute inset-0 size-full z-[-1] overflow-hidden">
      <Image
        class="w-full opacity-40 object-cover"
        src={'~/assets/images/wavy.jpg'}
        objectPosition="top"
        alt="Wavy Background"
      />
      <Image
        class="w-full opacity-40 object-cover scale-y-[-1]"
        src={'~/assets/images/wavy.jpg'}
        objectPosition="center"
        alt="Wavy Background"
      />
      <Image
        class="w-full opacity-40 object-cover"
        src={'~/assets/images/wavy.jpg'}
        objectPosition="top"
        alt="Wavy Background"
      />
    </div>

    <!-- About Section **************** -->
    <Content
      id="about"
      classes={{ container: 'about-section' }}
      isReversed
      items={[
        {
          title: 'Non-Invasive and Pain-Free Procedures',
        },
        {
          title: 'Minimal Side Effects',
        },
        {
          title: 'Natural and Long-Lasting Results',
        },
      ]}
    >
      <Fragment slot="image">
        <div class="mt-4 relative md:h-[600px] rounded-2xl overflow-hidden">
          <Image
            class="about-image h-full rounded-2xl"
            src="~/assets/images/skin_mirror.jpg"
            alt="Woman looking in mirror"
            objectPosition="50% 50%"
          />
        </div>
      </Fragment>
      <Fragment slot="content">
        <p class="text-2xl sm:text-3xl font-bold tracking-tight dark:text-white mb-4">
          Welcome to <span class="text-secondary">LIFTD </span>
          <span class="text-accent">Skin</span>
        </p>
        <p>
          Located on the Gold Coast, our clinic combines personalized care with our <span class="font-bold"
            >advanced HIFU technology</span
          > to help you achieve your skin-care goals.
        </p>
        <p class="mt-1">
          We know skin isn't one-size-fits-all — which is why we create <span class="font-bold"
            >customized skin treatment plans</span
          > based on your specific concerns, and budget — giving you exactly what you need with:
        </p>
      </Fragment>
    </Content>

    <!-- Process Section **************** -->
    <Process
      id="process"
      title="Our Process"
      classes={{ container: '!pt-0' }}
      items={[
        {
          title: 'Step 1: Initial Consultation',
          description:
            'We listen to your skin concerns, aesthetic goals, and lifestyle needs while reviewing your medical history to ensure the safest, most effective approach.',
          icon: 'tabler:user-check',
        },
        {
          title: 'Step 2: Advanced Skin Analysis',
          description:
            'Our Observ 520X technology reveals hidden skin concerns invisible to the naked eye through advanced multi-spectrum imaging.',
          icon: 'tabler:scan',
        },
        {
          title: 'Step 3: Personalized Treatment Plan',
          description:
            'We create your customized HIFU treatment plan with clear pricing, flexible payment options, and recommendations designed to fit your lifestyle and budget.',
          icon: 'tabler:clipboard-list',
        },
        {
          title: 'Begin Your Transformation!',
          icon: 'tabler:check',
        },
      ]}
      images={[
        {
          src: '~/assets/images/consultation_smiling.jpeg',
          alt: 'Consultation',
        },
        {
          src: '~/assets/images/observ-520x.jpg',
          alt: 'Observ 520X',
        },
        {
          src: '~/assets/images/consultation_form.jpg',
          alt: 'Consultation Form',
        },
        {
          src: '~/assets/images/happy_woman_beach.jpg',
          alt: 'Happy Woman at Beach',
        },
      ]}
    />
  </div>

  <!-- Concerns Section **************** -->
  <Concerns
    isReversed
    id="concerns"
    title="We Address <span class='underline'>All</span> Your Skin Concerns"
    subtitle=""
    classes={{ container: '' }}
    items={[
      {
        title: 'Lines and Wrinkles',
        icon: 'tabler:face-id',
      },
      {
        title: 'Loose Skin',
        icon: 'tabler:scale',
      },
      {
        title: 'Stubborn Fat',
        icon: 'tabler:microscope',
      },
      {
        title: 'Sunken Eyes',
        icon: 'tabler:eye',
      },
      {
        title: 'Age Spots',
        icon: 'tabler:sun',
      },
      {
        title: 'Loss of Facial Volume',
        icon: 'tabler:face-mask',
      },
    ]}
    actions={[
      {
        text: 'Learn How',
        variant: 'accent',
        type: 'button',
        onclick: 'openCalendly()',
      },
      {
        text: 'See Results',
        variant: 'primary',
        href: '#',
      },
    ]}
  >
    <Fragment slot="image">
      <div class="relative overflow-hidden h-full">
        <Image
          class="h-full"
          src="~/assets/images/woman_magnifying_glasses.jpg"
          alt="Woman with Magnifying Glasses"
          objectPosition="25% 50%"
        />
      </div>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 size-full bg-[#D3C2AE]"></div>
    </Fragment>
  </Concerns>

  <div class="relative">
    <div class="absolute inset-0 size-full z-[-1]">
      <Image
        class="w-full opacity-40 object-cover"
        src={'~/assets/images/wavy.jpg'}
        objectPosition="top"
        alt="Wavy Background"
      />
      <Image
        class="w-full opacity-40 object-cover scale-y-[-1]"
        src={'~/assets/images/wavy.jpg'}
        objectPosition="center"
        alt="Wavy Background"
      />
      <!-- <Image
        class="w-full opacity-40 object-cover"
        src={'~/assets/images/wavy.jpg'}
        objectPosition="top"
        alt="Wavy Background"
      /> -->
    </div>
    <!-- Treatments Section **************** -->
    <Treatments
      id="treatments"
      title="Our Treatments"
      subtitle="All our treatments are non-invasive, pain-free, and require no downtime."
      tagline=""
      classes={{ container: '!pb-0' }}
    />

    <FAQ
      id="faqs"
      title="Frequently Asked Questions"
      subtitle=""
      items={[
        {
          title: 'What is HIFU and how does it work?',
          description:
            'HIFU (High-Intensity Focused Ultrasound) uses focused ultrasound energy to target the layers of skin just below the surface. The ultrasound energy causes the tissue to heat up rapidly, which stimulates the cells to produce more collagen—a natural protein that gives skin its youthfulness by keeping it firm and toned. The treatment actually encourages your body to heal and rejuvenate itself naturally.',
        },
        {
          title: 'Is the treatment painful?',
          description:
            "Most clients report minimal discomfort during the procedure. You may feel tiny amounts of energy being deposited at specific depths, indicating that the collagen-building process has been initiated. Our technicians work to ensure your comfort throughout the treatment, and unlike surgery, there's no anesthesia or sedation required.",
        },
        {
          title: 'How long does a treatment take?',
          description:
            "Treatment times vary depending on the area being treated and your specific plan. A facial treatment typically takes 60-90 minutes, while body treatments may take longer depending on the size of the area. During your consultation, we'll provide you with a precise timeline for your specific needs.",
        },
        {
          title: 'How soon will I see results?',
          description:
            'Many clients report seeing an initial effect immediately after their treatment, but the real results appear over 2-3 months as your body naturally regenerates collagen. Since the procedure stimulates your own collagen production, how long the results last depends on you. The treatment produces new collagen on the inside, but your natural aging process will dictate how long that translates into visible results on the outside.',
        },
        {
          title: 'How many treatments will I need?',
          description:
            "Most clients need just one treatment; however, based on the degree of skin laxity, the biological response to ultrasound energy and the individual's collagen-building process, some clients benefit from additional treatments. Because skin continues to age, future touch-up treatments can help maintain results. Your personalized treatment plan will be discussed during your consultation.",
        },
        {
          title: 'Is there any downtime after treatment?',
          description:
            "One of the key benefits of HIFU treatments is that there's no downtime. You can return to your normal activities immediately after your procedure without any post-treatment restrictions or requirements. Some clients experience slight redness for a few hours, and a small percentage may have slight swelling, tingling, or tenderness, but these are mild and temporary.",
        },
        {
          title: 'How is HIFU different from lasers or surgery?',
          description:
            "Unlike lasers, which typically address issues in the superficial layers of the skin, HIFU penetrates to depths only previously reached with surgery. While lasers and radio frequency treat the skin from the outside-in, HIFU bypasses the surface of the skin to deliver energy at the right depths, temperature, and precision to trigger collagen production from the inside-out. And unlike surgery, there's no cutting, no scarring, and no extended recovery time.",
        },
        {
          title: 'What areas can be treated?',
          description:
            "HIFU treatments can address concerns on the face, neck, décolletage, jawline, arms, abdomen, thighs, and other areas where skin laxity is an issue. It's also effective for improving skin texture, including scarring and stretch marks. During your consultation, we'll discuss your specific concerns and determine the best treatment areas for your goals.",
        },
        {
          title: 'What is the 90-day guarantee?',
          description:
            "We stand behind our treatments with a 90-day guarantee. If you don't see noticeable improvement within 90 days of your treatment, we'll refund your investment. We can offer this guarantee because we're confident in our technology and expertise, and because we carefully select candidates who will benefit from our treatments during the consultation process.",
        },
        {
          title: 'How much do treatments cost?',
          description:
            "Treatment costs vary depending on the areas being treated and your specific needs. We offer flexible packages designed to fit different budgets while delivering the results you deserve. During your complimentary consultation, we'll provide transparent pricing based on your personalized treatment plan, with no hidden costs or pressure to commit.",
        },
      ]}
      classes={{ container: 'max-w-6xl' }}
    >
      <Fragment slot="bg">
        <!-- <div class="absolute inset-0 size-full bg-white"></div> -->
      </Fragment>
    </FAQ>
  </div>
</Layout>
