@import "tailwindcss";

@theme {
  --color-primary: rgb(233 241 242);
  --color-secondary: rgb(133 160 166);
  --color-tertiary: rgb(70 87 117);
  --color-accent: rgb(166 137 111);
}

@utility bg-page {
  background-color: var(--aw-color-bg-page);
}

@utility bg-dark {
  background-color: var(--aw-color-bg-page-dark);
}

@utility bg-light {
  background-color: var(--aw-color-bg-page);
}

@utility bg-accent {
  background-color: var(--aw-color-accent);
}

@utility text-page {
  color: var(--aw-color-text-page);
}

@utility text-muted {
  color: var(--aw-color-text-muted);
}

@utility btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid;
  background-color: transparent;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.875rem 1.5rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

@utility btn-primary {
  composes: btn;
  font-weight: 600;
  background-color: white;
  color: var(--aw-color-text-dark);
  border-color: var(--aw-color-primary);
}

@utility btn-secondary {
  composes: btn;
  color: var(--aw-color-primary);
  border-color: var(--aw-color-primary);
}

@utility btn-tertiary {
  composes: btn;
  border: none;
  box-shadow: none;
  color: var(--aw-color-text-muted);
}

@utility btn-accent {
  composes: btn;
  background-color: var(--aw-color-accent);
  color: white;
  border: none;
}

@utility btn-fill {
  composes: btn;
  color: var(--aw-color-primary);
  border-color: var(--aw-color-primary);
}

@utility btn-outline {
  composes: btn;
  color: var(--aw-color-primary);
  border-color: var(--aw-color-primary);
}

@utility highlight {
  color: var(--aw-color-secondary);
}

@utility custom-underline {
  position: relative;

  ::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--aw-color-secondary);
    transition: all 0.3s;
  }
}

#header {
  transition: padding 0.3s ease-in-out;
}

#header.scroll {
  padding: 0.25rem 0;
}

#header .header-toggle span {
  @apply bg-white;
}

#header.scroll .header-toggle span {
  @apply bg-black;
}

#header > .header_content {
  @apply text-white;
  /* height: 80px; */
}

#header.scroll .btn,
#header.expanded .btn {
  @apply bg-accent border-none;
}

#header.scroll > .header_content {
  @apply text-black;
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/80 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}

.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6];
  box-shadow: none;
}

/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded {
  @apply items-start;
  position: sticky;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 20px 5px;
  color: black;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}

[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}
